@import url(reset.css);

.hidden{
	display: none;
}

.top-wrapper{
	position:relative;
	width: 850px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;	
}

#logo{
	border:none;
	display: inline-block;
	position: absolute;
	width: 180px;
	height: 50px;
}

/****************************************************************************/

#searchform{
	width: 500px;
	height: 26px;
	border: 1px solid #222222;
	font-size: 0px;
	display: inline-block;
	position: absolute;
	left: 200px;
	top: 15px;
}

#searchform fieldset{
	height: inherit;
}

#searchform fieldset > select{
	font-size: 12px;
	border:none;
	width: 80px;
	height: inherit;
	vertical-align: middle;
	
}

#searchform fieldset > input[type="text"]{
	height:inherit;
	width: calc(100% - 131px);
	border:none;
	vertical-align: middle;
	font-size: 16px;
	text-indent: 5px;	
}
#searchform fieldset > input[type="submit"]{
	width: 31px;
	height: 26px;
	border: none;
	background: url("../images/btn-zoom.png") no-repeat center;
	text-indent: -999px;
	vertical-align: middle;
	float:right;
}

/****************************************************************************/
#loginmenu{
	display: inline-block;
	position: absolute;
	left: 720px;
	top: 17px;
	font-size: 12px;
}

	#loginmenu>li{
		float: left;
		padding-left: 9px;
		background: url("../images/bg-joinus-menu-vsp.png") no-repeat 4px center;
	}
		#loginmenu>li:first-child{
			padding-left: 0px;
			background: none;
		}
		
		#loginmenu>li>a{
			font-family: "¸¼Àº°íµñ", "°íµñ", sans-serif;
			font-weight: bold;
			color:gray;			
			text-decoration: none;
		}
		#loginmenu>li>a:HOVER{
			color:#ff6600;
			text-decoration: underline;
		}
	
/****************************************************************************/
#membermenu{
	display: inline-block;
	position: absolute;
	left: 720px;
	top: 17px;
	font-size: 12px;
}

	#membermenu>li{
		float: left;
		padding-left: 9px;
	}
	#membermenu>li:FIRST-CHILD{
		padding-left:0px;
	}
	#membermenu>li>a{
			font-family: "¸¼Àº°íµñ", "°íµñ", sans-serif;
			font-weight: bold;
			color:gray;			
			text-decoration: none;
	}
	
/****************************************************************************/

