<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
 	 
  <RollingFile name="file" fileName="c:/logs/answeris.log" filePattern="c:/logs/answeris.%d{yyyy-MM-dd}.log" append="false">
   	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
   	<Policies>
    	<!-- <SizeBasedTriggeringPolicy size="10MB" />  --><!-- 이 용량이 초과되면 아래 DefaultRolloverStrategy 정책만큼 넘버링함.-->
    	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
   	</Policies>
  	<DefaultRolloverStrategy max="1000"  fileIndex="min" /><!-- 0부터 1000개 까지만 만들거다 1000개 초과되면 파일이 더생성 안됨. -->
  </RollingFile>

	<Console name="console" target="SYSTEM_OUT">
	    <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
	</Console>
  </Appenders>
 	
	<Loggers>
		<Logger name="info" level="INFO" additivity="true">
			<!-- <AppenderRef ref="file"/> -->
			<AppenderRef ref="console"/>			
		</Logger>

		<Logger name="debug" level="DEBUG" additivity="true">
			<!-- <AppenderRef ref="file"/> -->
			<AppenderRef ref="console"/>			
		</Logger>

		<logger name="org.springframework" level="warn" additivity="false" >
			<!-- <appender-ref ref="file" /> -->
			<appender-ref ref="console" />
		</logger>
		
		<logger name="org.apache.http" level="warn" additivity="false" >
			<appender-ref ref="console" />
			<!-- <appender-ref ref="file" /> -->
		</logger>
		
		<!-- net.answeris.web 패키지는 무조건 찍자 -->
		  <logger name="net.answeris.web" level="debug" additivity="false" >
			<!-- <appender-ref ref="file" /> -->
 		  	<appender-ref ref="console" />
		  </logger>

        <!-- log SQL with timing information, post execution -->
        <logger name="jdbc.sqltiming" level="INFO" additivity="true">
            <appender-ref ref="console" />
        </logger>
        <logger name="org.springframework" level="INFO" additivity="true">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.Connection" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.Statement" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        		
		<Root level="DEBUG">
			<!-- <Appender-Ref ref="file" /> -->
			<Appender-Ref ref="console"/>	
		</Root>
	</Loggers>
	
</Configuration>